{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="header container">
    <div class="header-logo">
        <a href="{{@blog.url}}">
            <img src="{{asset "images/logo_black.svg"}}"/>
        </a>
    </div>

    <div class="header-social">
        <a target="_blank" href="https://www.facebook.com/veintiochocomacinco">
            <img src="{{asset "images/facebook.svg"}}" class="social-media-icon"/>
        </a>
        <a target="_blank" href="https://www.instagram.com/veintiochocomacinco/">
            <img src="{{asset "images/instagram.svg"}}" class="social-media-icon"/>
        </a>
        <a target="_blank" href="https://www.twitter.com/veintiochocoma5/">
            <img src="{{asset "images/twitter.svg"}}" class="social-media-icon"/>
        </a>
        <a target="_blank" href="http://eepurl.com/bR9s5X">
            <img src="{{asset "images/mailing.svg"}}" class="social-media-icon"/>
        </a>
    </div>
</div>

<div class="container">
    <section class="top-main-gallery" data-type="gallery" data-speed="4">
        {{#foreach posts}}
            {{#if image}}
                <div class="top-main-gallery-item" href={{url}}>
                    <div class="top-main-gallery-item-photo" style="background-image: url({{image}})"></div>
                    <div class="top-main-gallery-item-title">
                        <a href="{{url}}">
                            <h2>{{title}}</h2>
                        </a>
                    </div>
                </div>
            {{/if}}
        {{/foreach}}
    </section>

    <section>
        <div class="row">
            {{#foreach posts from="1" to="2"}}
                <div class="col-md-6 trail-2">
                    <a href="{{url}}">
                        <div class="post-image">
                            <div class="post-image-content" style="background-image: url({{image}})"></div>
                        </div>
                        <div class="post-item-title">
                            <h4>{{title}}</h4>
                        </div>
                    </a>
                </div>
            {{/foreach}}
        </div>

        <div class="row">
            {{#foreach posts from="3" to="5"}}
                <div class="col-md-4 trail-2">
                    <a href="{{url}}">
                        <div class="post-image">
                            <div class="post-image-content" style="background-image: url({{image}})"></div>
                        </div>
                        <div class="post-item-title">
                            <h4>{{title}}</h4>
                        </div>
                    </a>
                </div>
            {{/foreach}}
        </div>
    </section>


    <section>
        {{pagination}}
    </section>
</div>
<section class="footer-container">
    <div class="footer container">
        <div class="footer-left">
            <div class="footer-left-logo">
                <a href="{{@blog.url}}">
                    <img src="{{asset "images/logo_shoe.svg"}}"/>
                </a>
            </div>

            <div class="footer-left-social">
                <a target="_blank" href="https://www.facebook.com/veintiochocomacinco">
                    <img src="{{asset "images/facebook.svg"}}" class="social-media-icon"/>
                </a>
                <a target="_blank" href="https://www.instagram.com/veintiochocomacinco/">
                    <img src="{{asset "images/instagram.svg"}}" class="social-media-icon"/>
                </a>
                <a target="_blank" href="https://www.twitter.com/veintiochocoma5/">
                    <img src="{{asset "images/twitter.svg"}}" class="social-media-icon"/>
                </a>
                <a target="_blank" href="http://eepurl.com/bR9s5X">
                    <img src="{{asset "images/mailing.svg"}}" class="social-media-icon"/>
                </a>
            </div>

            <div class="footer-left-links">
                <a href="http://veintiochocomacinco.com/bienvenidos/"> Acerca de Veintiochocomacinco</a>
                <a href="mailto:info@veintiochocomacinco.com"> Contacto</a>
                <a href="#"> Política de privacidad</a>
            </div>
        </div>

    </div>
</section>