{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="top-main-gallery">
    {{#foreach posts}}
        {{#if image}}
        <a class="top-main-gallery-item" href={{url}}>
            <div class="top-main-gallery-item-photo" style="background-image: url({{image}})"></div>
        <div class="blog_post_item_content">
            <div class="blog_post_item_content_title"><a href={{url}} title="{{title}}">{{title}}</a></div>
        </div>
        </a>
        {{/if}}
    {{/foreach}}
<img src="{{@blog.cover}}" class="img-responsive"/>
</div>

<div class="grid" role="document">
    <div class="row center-block gray-backgrounded">
        <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12">
            <main id="content" class="content" role="main">
             {{> "loop"}}
            </main>
        </div>
    </div>
</div>
