{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<section class="top-main-gallery" data-type="gallery" data-speed="4">
    {{#foreach posts}}
        {{#if image}}
        <div class="top-main-gallery-item" href={{url}}>
            <div class="top-main-gallery-item-photo" style="background-image: url({{image}})">

            </div>
            <a class="h2" href="{{url}}">
                {{title}}
            </a>
        </div>
        {{/if}}
    {{/foreach}}
</section>
<nav class="navbar navbar-default navbar-fixed-top navbar-large">
    <div class="container-fluid row">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{@blog.url}}">
                <img id="img_logo_shoe" src="{{asset "images/logo_shoe.svg"}}" class="img-responsive img-logo-shoe col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-0"/>
                <img id="img_logo_letters" src="{{asset "images/logo_letters.svg"}}" class="img-responsive img-logo-letters col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-0"/>
            </a>
        </div>
    </div>
</nav>
<section class="grid" role="document">
    <div class="center-block gray-backgrounded">
        <div class="row">
        {{#foreach posts from="1" to="2"}}
            <div class="grid-item col-xs-10 col-sm-5 col-md-5 col-lg-4 col-xs-offset-1 {{#if @first}} col-sm-offset-1 col-md-offset-1 col-lg-offset-2 {{else}} col-sm-offset-0 col-md-offset-0 col-lg-offset-0 {{/if}}">
                <a href="{{url}}">
                    <div class="post-image">
                        <div class="post-image-content" style="background-image: url({{image}})"></div>
                    </div>
                    <!--<img src="{{image}}" class="img-responsive"/>-->
                    <div class="post-item-title h4">{{title}}</div>
                </a>
            </div>
        {{/foreach}}
        </div>
        <div class="row">
            {{#foreach posts from="3" to="5"}}
                <div class="grid-item col-xs-10 col-333 col-sm-3 col-md-3 col-lg-3 col-xs-offset-1 {{#if @first}} col-sm-offset-1 col-md-offset-1 col-lg-offset-2 {{else}} col-sm-offset-0 col-md-offset-0 col-lg-offset-0 {{/if}}">
                    <a href="{{url}}">
                        <div class="post-image">
                            <div class="post-image-content" style="background-image: url({{image}})"></div>
                        </div>
                        <!--<img src="{{image}}" class="img-responsive"/>-->
                        <div class="post-item-title h4">{{title}}</div>
                    </a>
                </div>
            {{/foreach}}
        </div>
        {{pagination}}
    </div>
</section>
