{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<section class="top-main-gallery" data-type="gallery" data-speed="4">
    {{#foreach posts}}
        {{#if image}}
        <div class="top-main-gallery-item" href={{url}}>
            <div class="top-main-gallery-item-photo" style="background-image: url({{image}})">

            </div>
            <a class="h2" href="{{url}}">
                {{title}}
            </a>
        </div>
        {{/if}}
    {{/foreach}}
</section>
<nav class="navbar navbar-default navbar-fixed-top navbar-large">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{@blog.url}}">
                <img alt="Brand" src="{{@blog.logo}}">
            </a>
        </div>
    </div>
</nav>
<section class="grid" role="document">
    <div class="center-block gray-backgrounded">
        {{#foreach posts columns=2}}
            {{#if @rowStart}}
                <div class="row">
            {{/if}}
            <div class="grid-item col-md-4 col-sm-4 col-lg-4 col-xs-12 {{#if @rowStart}}col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-0{{/if}}">
                <a href="{{url}}">
                    <img src="{{image}}" class="img-responsive"/>
                    <div class="post-item-title h4">{{title}}</div>
                </a>

            </div>
            {{#if @rowEnd}}
                </div>
            {{/if}}
        {{/foreach}}
        {{pagination}}
    </div>
</section>
