{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="top-main-gallery">
    {{#foreach posts}}
        {{#if image}}
        <a class="top-main-gallery-item" href={{url}}>
            <div class="top-main-gallery-item-photo" style="background-image: url({{image}})">

            </div>
        </a>
        {{/if}}
    {{/foreach}}
</div>

<div class="grid" role="document">
    <div class="center-block gray-backgrounded">
        {{#foreach posts columns=2}}
            {{#if @rowStart}}
                <div class="row gray-backgrounded">
            {{/if}}
            <div class="col-md-4 col-sm-10 col-lg-4 {{#if @rowStart}}col-md-offset-1{{/if}}">
                <img src="{{image}}" class="img-responsive blog_post_item_bg"/>
                <div class="blog_post_item_content">
                    <div class="blog_post_item_content_title"><a href={{url}} title="{{title}}">{{title}}</a></div>
                </div>
            </div>
            {{#if @rowEnd}}
                </div>
            {{/if}}
        {{/foreach}}
        {{pagination}}
    </div>
</main>
