{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
<div class="nav-fixed">
        <a href="http://veintiochocomacinco.com">
            <img src="{{asset "images/logo_shoe.svg"}}">
            <!--<i class="fa fa-3x fa-angle-left"></i>-->
        </a>
    </div>
    <div class="post">
        <div class="container">
            <section class="post-main-img col-md-12" style="background-image: url({{image}})"
                     data-type="post-main-title"
                     data-speed="4">
                <div id="post-header-title" class="post-header"><h1>{{tag.name}}</h1></div>
            </section>

        </div>

        <div class="center-block post-center-block">
            <main class="container container-small">
                <!--<main class="content white-bg" role="main">-->

                <article class="{{post_class}}">

                    <section class="post-content">
                        {{#if tag.description}}
                            {{tag.description}}
                        {{/if}}
                    </section>

                    <p>&nbsp;</p>
                    <p></p>
                    
                    <section>
                        <div class="row">
                            {{#foreach posts from="1" to="2"}}
                                <div class="col-md-6 trail-2">
                                    <a href="{{url}}">
                                        <div class="post-image">
                                            <div class="post-image-content" style="background-image: url({{image}})"></div>
                                        </div>
                                        <div class="post-item-title">
                                            <h4>{{title}}</h4>
                                        </div>
                                    </a>
                                </div>
                            {{/foreach}}
                        </div>

                        <div class="row">
                            {{#foreach posts from="3" to="5"}}
                                <div class="col-md-4 trail-2">
                                    <a href="{{url}}">
                                        <div class="post-image">
                                            <div class="post-image-content" style="background-image: url({{image}})"></div>
                                        </div>
                                        <div class="post-item-title">
                                            <h4>{{title}}</h4>
                                        </div>
                                    </a>
                                </div>
                            {{/foreach}}
                        </div>
                    </section>

                    <!-- Root element of PhotoSwipe. Must have class pswp. -->
                    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                        <!-- Background of PhotoSwipe.
                             It's a separate element as animating opacity is faster than rgba(). -->
                        <div class="pswp__bg"></div>

                        <!-- Slides wrapper with overflow:hidden. -->
                        <div class="pswp__scroll-wrap">

                            <!-- Container that holds slides.
                                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                                Don't modify these 3 pswp__item elements, data is added later on. -->
                            <div class="pswp__container">
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                            </div>

                            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                            <div class="pswp__ui pswp__ui--hidden">

                                <div class="pswp__top-bar">

                                    <!--  Controls are self-explanatory. Order can be changed. -->

                                    <div class="pswp__counter"></div>

                                    <button class="pswp__button pswp__button--close"
                                            title="Close (Esc)"></button>

                                    <button class="pswp__button pswp__button--share" title="Share"></button>

                                    <button class="pswp__button pswp__button--fs"
                                            title="Toggle fullscreen"></button>

                                    <button class="pswp__button pswp__button--zoom"
                                            title="Zoom in/out"></button>

                                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                                    <!-- element will get class pswp__preloader--active when preloader is running -->
                                    <div class="pswp__preloader">
                                        <div class="pswp__preloader__icn">
                                            <div class="pswp__preloader__cut">
                                                <div class="pswp__preloader__donut"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                    <div class="pswp__share-tooltip"></div>
                                </div>

                                <button class="pswp__button pswp__button--arrow--left"
                                        title="Previous (arrow left)">
                                </button>

                                <button class="pswp__button pswp__button--arrow--right"
                                        title="Next (arrow right)">
                                </button>

                                <div class="pswp__caption">
                                    <div class="pswp__caption__center"></div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!--<div class="post-gallery col-md-12" itemscope itemtype="http://schema.org/ImageGalleryss">-->
                    <!--<div class="row">-->
                    <!--<figure class="col-md-4 col-sm-6 col-xs-6" itemprop="associatedMedia" itemscope-->
                    <!--itemtype="http://schema.org/ImageObject">-->
                    <!--<a href="/content/images/2016/02/guess-sneaker.jpg" itemprop="contentUrl"-->
                    <!--data-size="1200x1010">-->
                    <!--<img src="/content/images/2016/02/guess-sneaker.jpg" itemprop="thumbnail"-->
                    <!--alt="caca 1"/>-->
                    <!--</a>-->
                    <!--<figcaption itemprop="caption description">caca 1</figcaption>-->
                    <!--</figure>-->
                    <!--<figure class="col-md-4 col-sm-6 col-xs-6" itemprop="associatedMedia" itemscope-->
                    <!--itemtype="http://schema.org/ImageObject">-->
                    <!--<a href="/content/images/2016/02/images.jpeg" itemprop="contentUrl"-->
                    <!--data-size="231x218">-->
                    <!--<img src="/content/images/2016/02/images.jpeg" itemprop="thumbnail"-->
                    <!--alt="caca 2"/>-->
                    <!--</a>-->
                    <!--<figcaption itemprop="caption description">caca 2</figcaption>-->
                    <!--</figure>-->
                    <!--<figure class="col-md-4 col-sm-6 col-xs-6" itemprop="associatedMedia" itemscope-->
                    <!--itemtype="http://schema.org/ImageObject">-->
                    <!--<a href="/content/images/2016/02/dcxf1tk484xdyig42fvr.jpg" itemprop="contentUrl"-->
                    <!--data-size="1024x768">-->
                    <!--<img src="/content/images/2016/02/dcxf1tk484xdyig42fvr.jpg" itemprop="thumbnail"-->
                    <!--alt="caca 3"/>-->
                    <!--</a>-->
                    <!--<figcaption itemprop="caption description">caca 3</figcaption>-->
                    <!--</figure>-->
                    <!--</div>-->
                    <!--</div>-->


                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_shortname = 'veintiochocomacinco'; // required: replace example with your forum shortname
                        var disqus_identifier = '{{post.id}}';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function () {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments
                        powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span
                            class="logo-disqus">Disqus</span></a>
                </article>

                <!--</main>-->
            </main>
            <script src={{asset "js/photoswipe-post.js"}}></script>
        </div>
    </div>
    <section class="footer-container">
        <div class="footer container">
            <div class="footer-left">
                <div class="footer-left-logo">
                    <a href="{{@blog.url}}">
                        <img src="{{asset "images/logo_shoe.svg"}}"/>
                    </a>
                </div>

                <div class="footer-left-social">
                    <a target="_blank" href="https://www.facebook.com/veintiochocomacinco">
                        <img src="{{asset "images/facebook.svg"}}" class="social-media-icon"/>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/veintiochocomacinco/">
                        <img src="{{asset "images/instagram.svg"}}" class="social-media-icon"/>
                    </a>
                    <a target="_blank" href="https://www.twitter.com/veintiochocoma5/">
                        <img src="{{asset "images/twitter.svg"}}" class="social-media-icon"/>
                    </a>
                    <a target="_blank" href="http://eepurl.com/bR9s5X">
                        <img src="{{asset "images/mailing.svg"}}" class="social-media-icon"/>
                    </a>
                </div>

                <div class="footer-left-links">
                    <a class="footer-left-links-about" href="http://veintiochocomacinco.com/bienvenidos/"> Acerca de Veintiochocomacinco</a>
                    <a class="footer-left-links-contact" href="mailto:info@veintiochocomacinco.com"> Contacto</a>
                    <a class="footer-left-links-privacy" href="http://veintiochocomacinco.com/privacy/"> Política de privacidad</a>
                </div>
            </div>

        </div>
    </section>